@import "../../style/variables.less";


.GridScrollBar {
    position: absolute;
    width: @gridScrollBarWidth;
}

.GridScrollBar-thumb {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: @blue-grey-200;
}
