@import "../../less/variables.less";

.LibraryTopBar-showSidebar {
    margin-left: 0;
    transition: margin-left @transition-time ease-out;

    .Ansel.hasSidebar & { 
        margin-left: -(8px + 32px);  // Padding + button width
    }
}

.LibraryTopBar-toggleButton.isActive {
    color: @red !important;
}
