@import "../../style/variables.less";

#sidebar {
  padding: 0;
  background: @blue-grey-900;
  color: #fff;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
              0px 4px 5px 0px rgba(0, 0, 0, 0.14),
              0px 1px 10px 0px rgba(0, 0, 0, 0.12);

  div.sidebar-content {
    height: ~"calc(100% - @{toolbarHeight})";
    overflow-y: auto;
  }

  h3 {
    font-weight: 200;
    border-top: 1px solid @blue-grey-800;
    border-bottom: 1px solid @blue-grey-800;
    font-size: 2em;
    padding: 10px;
  }

  ul {
    padding: 0;
    list-style: none;

    li {
      margin: 2px 0;
    }
  }

  button {
    width: 100%;
  }

  button.flagged i {
    color: @red;
  }

  div.dates {
    h3 i {
      color: @deep-orange-500;
    }

    ul.hide {
      display: none;
    }

    ul.date-elements {
      li {
        background: @blue-grey-800;
        margin: 0;
      }

      li.active {
        background: @deep-orange-800;
      }
    }

    button.year-dropdown {
      width: 100%;
    }

    button.month-dropdown {
      padding-left: 10px;
      width: ~"calc(100% - 10px)";
    }
  }

  div.tags {
    h3 i {
      color: @teal-500;
    }

    li button.active {
      background: @deep-orange-800;
    }
  }
}
