@import "../../style/variables.less";


.LibraryTopBar {
    padding-left: @nativeTitleBarControlsWidth;
}

.LibraryTopBar-toggleButton.isActive {
    color: @red !important;
}

.LibraryTopBar-emptyTrash {
    margin-right: 50px;
}
