[submodule "submodules/node-libraw"]
	path = submodules/node-libraw
	url = https://github.com/picturama/node-libraw.git
[submodule "test-data"]
	path = test-data
	url = https://github.com/picturama/test-data.git
