@import "../../style/variables.less";

.CropOverlay-dim {
    fill: rgba(0, 0, 0, 0.75);
    transition: fill @transition-time ease-out;

    .CropOverlay.isChanging & {
        fill: rgba(0, 0, 0, 0.25);
    }
}

.CropOverlay-hint {
    stroke: #a0a0a0;
    fill: none;
}
.CropOverlay-rect {
    stroke: #a0a0a0;
    fill: transparent;
    cursor: grab;

    .CropOverlay.isDraggingRect & {
        cursor: grabbing;
    }
}

.CropOverlay-sideHandle,
.CropOverlay-cornerHandle {
    stroke: none;
    fill: transparent;
}

.CropOverlay-corner {
    stroke: white;
    fill: none;
}
