.ImageCanvas {
    position: relative;
}

.ImageCanvas-texture {
    display: none;
}

.ImageCanvas-canvas {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    &.isTurnedLeft {
        transform: translate(-50%, -50%) rotate(-90deg);
    }
    &.isTurnedRight {
        transform: translate(-50%, -50%) rotate(90deg);
    }
    &.isTurnedBottom {
        transform: translate(-50%, -50%) rotate(180deg);
    }
}
