.Toolbar {
    height: 48px;
    z-index: 2;
    background: @blue-grey-800;
    color: @blue-grey-100;
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.5);

    padding: 0 8px;
    line-height: 45px;
}
