@import "../../style/variables.less";

.Toolbar {
    height: @toolbarHeight;
    z-index: 2;
    background: @blue-grey-800;
    color: @blue-grey-100;
    border-top: 1px solid @blue-grey-900;

    padding: 0 4px;
    line-height: @toolbarHeight - 4px;

    -webkit-user-select: none;

    &.isTopBar {
        -webkit-app-region: drag;
        border-top: none;
        border-bottom: 1px solid @blue-grey-900;
    }
    &.isTopBar.isLeft {
        padding-left: @nativeTitleBarControlsWidth;
    }

    .bp3-button,
    .bp3-button-group {
        vertical-align: middle;
    }
}
