@import "../../less/variables.less";

// --- Layout ---

.PictureDetail {
    position: relative;
}
.PictureDetail-topBar,
.PictureDetail-body {
    position: absolute;
    left: 0;
    right: 0;
    transition: right @transition-time ease-out;

    .PictureDetail.hasRightSidebar & {
        right: @sidebarWidth;
    }
}
.PictureDetail-topBar {
    top: 0;
}
.PictureDetail-zoomPane {
    position: relative;
    display: inline-block;
    margin-right: 8px;
    width: 50px;
    -webkit-app-region: none;
    min-width: 0;
    vertical-align: middle;
}
.PictureDetail-zoomSlider {
    min-width: 0 !important;
}
.PictureDetail-zoomValue {
    // Use `position: absolute` in order to take no height
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;

    text-align: center;
    color: @blue-grey-300;
    font-size: 9px;
    line-height: 9px;
}
.PictureDetail-body {
    top: @toolbarHeight;
    bottom: 0;
}
.PictureDetail-rightSidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -@sidebarWidth;
    width: @sidebarWidth;
    transition: right @transition-time ease-out;

    .PictureDetail.hasRightSidebar & {
        right: 0;
    }
}

// --- Styling ---

.PictureDetail {
    background: black;
}

.PictureDetail-body {
    overflow: hidden;
}

.PictureDetail-image {
    position: absolute;
    left: 0;
    top: 0;
}

.PictureDetail-spinner {
    position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
