.PictureDetail {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    background: @blue-grey-100;
}
.PictureDetail-topBar, .PictureDetail-infoBar {
    flex: 0 0 auto;
}

.PictureDetail-topBarRight {
    float: right;
}

.PictureDetail-toggleButton.isActive {
    color: @red !important;
}

.PictureDetail-body {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.PictureDetail-image {
    position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
