[Desktop Entry]
Type=Application
Name=Ansel
Exec=/opt/ansel/ansel
Terminal=false
Categories=GNOME;GTK;Graphics;
StartupNotify=true
Icon=/opt/ansel/ansel.svg
