@import "../node_modules/font-awesome/less/font-awesome";
@import "less/variables.less";
@import "less/fonts.less";

html, body, #app, #ansel, #sidebar, #container {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.mdl-shadow--2dp {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

.mdl-shadow--3dp {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12); }

.mdl-shadow--4dp {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2); }

.mdl-shadow--6dp {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2); }

.mdl-shadow--8dp {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2); }

.mdl-shadow--16dp {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }

.mdl-card {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  min-height: 200px;
  overflow: hidden;
  width: 330px;
  z-index: 1;
  position: relative;
  background: rgb(255,255,255);
  border-radius: 2px;
  box-sizing: border-box; }

@import "less/sidebar.less";

div.outer-modal {
  position: fixed;
  top: 0;
  left: 300px;
  width: ~"calc(100% - 300px)";
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  z-index: 3;

  div.modal {
    width: 400px;
    height: 300px;
    background-color: @blue-grey-100;
    color: @blue-grey-900;
    position: absolute;
    top: 25%;
    left: 31%;
    border-radius: 2px;
    padding: 10px 15px;
  }
}

#container {
  position: relative;
  z-index: 1;
  float: left;
  width: ~"calc(100% - 300px)";
  height: 100%;
  background: @blue-grey-100;
  color: @white;
  overflow-y: auto;

  #library {
    height: 100%;

    /* create a full-height inline block pseudo=element */
    div.picture-diff, div.picture-detail:before { 
      content: ' ';
      display: inline-block;
      vertical-align: middle;  /* vertical alignment of the inline element */
      height: 100%;
    }

    div.picture-diff, div.picture-detail {
      height: ~"calc(100% - 26px)";
      margin: 0 auto;
      position: relative;

      div.v-align {
        display: inline-block;
        vertical-align: middle;
        width: 100%;

        img {
          display: block;
          width: 90%;
          margin: auto;
        }

        img.minus-ninety {
          width: 42%;
        }
      }

      div.picture-info {
        position: absolute;
        bottom: -26px;
        left: 0;
        /*background: rgba(30, 30, 30, 0.7);*/
        background: rgba(38, 50, 56, 0.7);
        min-height: 24px;
        width: 100%;

        ul {
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            float: left;
            margin-right: 10px;
          }

          li.title {
            font-weight: 200;
            font-size: 26px;
            line-height: 26px;
            /*background: @blue-grey-700;*/
            background: @deep-orange-500;
          }
        }
      }
    }

    div.picture-diff {
      div.before, div.after {
        width: 50%;
      }
    }

    a.picture {
      float: left;
      margin: 5px;
      padding: 5px;
      background-color: transparent;
      width: 247px;
      height: 247px;

      img {
        margin-top: 17%;
        width: 240px;
      }

      img.minus-ninety {
        margin: 0 auto;
        height: 250px;
        width: auto;
      }
    }
  }
}
